<main class="container">
    <section class="row">
        <article class="col-12">
            <h3>Crud Categorias</h3>
        </article>
        <article class="col">
            <button class="btn btn-success" (click)="open(content)">Add Nuevo</button>
        </article>
    </section>
    <br>
    <section class="row">
        <article class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col"><fa-icon [icon]="icons.faTools"></fa-icon></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data; index as i">
                        <th scope="row">{{i}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td><a (click)="open(content, i)"><fa-icon [icon]="icons.faEdit"></fa-icon></a>&nbsp;&nbsp;&nbsp;&nbsp;<a (click)="delete(item.id)"><fa-icon [icon]="icons.faTrash"></fa-icon></a></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refresh()"></ngb-pagination>
            </div>
        </article>
    </section>
</main>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Categoria.</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click'); del()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="editForm" (ngSubmit)="c('Save click'); save()">
        <div class="modal-body">
            <div class="form-group">
                <label for="nm">Nombre: </label>
                <input type="text" id="nm" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label for="dp">Descripcion: </label>
                <textarea id="dp" class="form-control" cols="10" rows="3" formControlName="description"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-success" *ngIf="dtid" routerLink="/categ/subcateg" [queryParams]="{id: dtid}" (click)="d('Cross click')">Editar SubCategoria</a>
            <input type="submit" class="btn btn-outline-dark" value="Guardar" [disabled]="!editForm.valid">
        </div>
    </form>
</ng-template>